<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="lib/ionic-contrib-tinder-cards/ionic.tdcards.css" rel="stylesheet">

    <script src="lib/firebase/firebase.js"></script>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-contrib-tinder-cards/ionic.tdcards.js"></script>
    <script src="lib/collide/collide.js"></script>
    <script src="lib/jquery/dist/jquery.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
</head>

<body ng-app="starter" ng-controller="Stock2DayCtrl">
    <ion-pane>
        <ion-header-bar class="bar-dark-blue">
            <h1 class="title">Stock2Day</h1>
        </ion-header-bar>
        <ion-content scroll="false" id="stock-content">
            <img class="bg-img" src="img/icon.png">
            <div ng-show="mode==='VOTE'">
                <!--            <div ng-show="true">-->
                <center>
                    <div class="page-title">
                        <div id="bear-title">Bear</div>
                        <i class="ion-reply"></i>
                        <i class="ion-forward"></i>
                        <div id="bull-title">Bull</div>
                    </div>

                    <div id="card-reload" ng-show="cards.length===0">
                        <i class="ion-loop" ng-click="cardReload()"></i>
                    </div>

                    <td-cards id="card-cards" ng-repeat="card in cards track by $index">
                        <td-card class="card-stock" on-partial-swipe="cardPartialSwipe(amt)" on-swipe-left="cardSwipedLeft(card.symbol)" on-swipe-right="cardSwipedRight(card.symbol)" on-destroy="cardPassClicked(card.symbol)">
                            <div class="card-stock-symbol">
                                {{card.symbol}}
                            </div>
                            <div class="card-stock-name">{{card.name}}</div>
                            <div class="card-next" ng-click="cardPassClicked(card.symbol)"><i class="ion-ios-skipforward"></i>
                            </div>
                        </td-card>
                    </td-cards>

                    <!--                    <div class="card-control">-->
                    <!--                    <button class="button button-assertive" ng-click="bear(currentStock.symbol)">BEAR</button>-->

                    <!--                    <button class="button button-balanced">BULL</button>-->
                    <!--</div>-->
                </center>
            </div>
            <div ng-hide="mode==='VOTE'">
                <!--                <div ng-hide="true">-->
                <div id="the-bullest">{{bullest}}
                    <div class="result-detail">BULLNESS: {{votes[bullest].bull- votes[bullest].bear}}</div>
                </div>
                <div id="the-bearest">{{bearest}}
                    <div class="result-detail">BEARNESS: {{votes[bearest].bear - votes[bearest].bull}}</div>
                </div>
                <div id="ads">Advertisments from Sponsors</div>
            </div>
        </ion-content>
    </ion-pane>
</body>

</html>